*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blanchedalmond;
    text-align: center;
}
h1{
  margin-top: 30px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 3rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: black;
    background-color:#ffffc7
    
}
.resetBtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgba(10, 80, 100, 0.632);
    color: white;
    border: none;
    border-radius: 1rem;
}
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: black;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }